[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This project converts the original Lyo Workshop projects to use latest working version of Maven, and make it as a Dockerized applications from https://github.com/eclipse/lyo.docs
[access "refs/*"]
	owner = group user/Shameer KC (shameerkc)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shameer KC (shameerkc)
	label-Verified = -1..+1 group user/Shameer KC (shameerkc)
	push = group user/Shameer KC (shameerkc)
	read = group user/Shameer KC (shameerkc)
	rebase = group user/Shameer KC (shameerkc)
	removeReviewer = group user/Shameer KC (shameerkc)
	submit = group user/Shameer KC (shameerkc)
[access "refs/heads/*"]
	create = group user/Shameer KC (shameerkc)
	push = +force group user/Shameer KC (shameerkc)
	pushMerge = group user/Shameer KC (shameerkc)
	read = group user/Shameer KC (shameerkc)
[access "refs/tags/*"]
	push = group user/Shameer KC (shameerkc)
	push = +force group user/Shameer KC (shameerkc)
